package components;

import "github.com/labstack/echo/v4"

templ Navbar(c echo.Context) {
	<nav class="container">
		<ul>
			<li>
				<strong>Not logged in</strong>
			</li>
		</ul>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Sign Up</a></li>
		</ul>
	</nav>
}
